$purple: #6F47E5;
$purple-secound:#e7eaf85c;
$purple-modal:#e7eaf8;
$purple-thrid:#FFFFFF;

:export {
  purple: $purple;
  purple-secound: $purple-secound;
  purple-modal: $purple-modal;
  purple-thrid: $purple-thrid;
 
}